.footerContainer {
    padding: 1.5rem;
}

.footers {
    background-color: #000000;
    padding: 2rem 0;
}

.ftleftbottom {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.ftleftbottom a {
    margin-right: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.ftleftbottom a:hover {
    color: #B3BFA6;
}

.ftcentertext {
    color: #fff;
    font-size: 28px;
    line-height: 25px;
    font-weight: 600;
}

.socialicon img {
    width: 23px;
    margin-left: 15px;
}

.ftRight p {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.ftRight a {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: .7s;
}

.ftRight a:hover {
    color: #B3BFA6;
}